In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame([
    [1,1,0, 'membership'],
[0,0,0, 'membership'],
[1,1,0, 'membership'],
[1,1,0, 'membership'],
[1,1,0, 'membership'],
[0,1,1, 'membership'],
[1,1,0, 'membership'],
[0,1,1, 'complaint'],
[1,1,0, 'complaint'],
[0,0,1, 'complaint'],
[0,1,1, 'complaint'],
[0,1,1, 'complaint'],
[1,0,0, 'complaint'],
    ],
    columns=['join',  'address',  'unacceptable', 'class'],
)

In [4]:
df

    join  address  unacceptable       class
0      1        1             0  membership
1      0        0             0  membership
2      1        1             0  membership
3      1        1             0  membership
4      1        1             0  membership
5      0        1             1  membership
6      1        1             0  membership
7      0        1             1   complaint
8      1        1             0   complaint
9      0        0             1   complaint
10     0        1             1   complaint
11     0        1             1   complaint
12     1        0             0   complaint

In [5]:
# Compute the frequence per event and per class
df.groupby('class').sum()

            join  address  unacceptable
class
complaint      2        4             4
membership     5        6             1